<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" href="/public/voxeldonut_transparent_512.png"/>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" type="text/css" href="/public/style.css"/>
    <link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css"/>

    <title>Khaleel Gibran's Blog</title>
    <meta name="title" content="Khaleel Gibran's Blog'">
    <meta name="description" content="The blog of a fourteen-year-old web developer.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://blog.khaleelgibran.com/">
    <meta property="og:title" content="Khaleel Gibran's Blog">
    <meta property="og:description" content="The blog of a fourteen-year-old web developer.">
    <meta property="og:image" content="">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://blog.khaleelgibran.com/">
    <meta property="twitter:title" content="Khaleel Gibran's Blog">
    <meta property="twitter:description" content="The blog of a fourteen-year-old web developer.">
    <meta property="twitter:image" content="">
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>