<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/public/voxeldonut_transparent_512.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="The blog of a fourteen-year-old web developer." />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css" />
  </head>
  <body>
  <main>
  
    {{ content | safe }}

     <footer>
      <p class="copyright">
        Copyright &#xb7;
        <b><a href="//khaleelgibran.com">Khaleel Gibran</a></b> &#xb7;
        2021
      </p>

      <p class="small-greyed-text">
        Caught a mistake or have a question? Shoot me an email at
        <a href="mailto:hey@khaleelgibran.com">hey@khaleelgibran.com</a>!
      </p>

      <p class="small-greyed-text">
        <a href="https://512kb.club/">512kb club</a>

       

<!--       &#x00B7;   <a style="cursor:pointer;" @click="toggleTheme()" v-if="this.theme === 'darkMode' && this.showThemeOptions === true">Default Theme</a>
        <a style="cursor:pointer;" @click="toggleTheme()" v-if="this.theme !== 'darkMode' && this.showThemeOptions === true">Notion Dark</a> -->
      </p>
    </footer>
    
  </main>
   
  </body>
</html>